body{
    background-color: cadetblue;
    text-align: center;
    color:firebrick;
}

#timer { font-size: 2em; margin: 20px 0; }
button { 
    padding: 10px 20px; 
    background-color: rgb(76, 76, 224);
    color: white;
    border: none;
    border-radius: 5px;
}